.homescreen__products {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
  }
.homescreen {
    max-width: 1300px;
    margin: 1rem auto;
  }
@media (max-width:1232px){
    .homescreen__products {
        
        grid-template-columns: repeat(3, 3fr);
      }
    

}